{% extends 'flatpages/default.html' %}



{% block title %}
Profile
{% endblock title %}


{% block content %}
<h3>Никнейм: {{request.user.username}}</h3>
<h3>электронная почта: {{request.user.email}}</h3>
<h3>пороль: {{request.user.password}}</h3>




<button> <a href="{%url 'EditUser' user.id%}">edit</a> </button>
<button> <a href="logout/">Выйти</a> </button>
<br>
<br>
<br>
<br>
{%if   is_not_author%}
<button> <a href="{%url 'GiveAuthor'%}">стать автором</a> </button>
{%endif%}
{% endblock content %}